<h1><%= @company.companies_name %></h1>
<div>
  <p>
    Domain: <%= @company.companies_domain %>
  </p>
  <p><strong>Contact Person:</strong><br>
    Contact Name: <%= @company.companies_contact_name %><br>
  	Contact Phone: <%= @company.companies_contact_phone %><br>
    Contact Email: <%= @company.companies_contact_email %>
  </p>
  <p><strong>Report Recipients:</strong><br>
    Email 1: <%= @company.companies_report_email1 %><br>
    Email 2: <%= @company.companies_report_email2 %><br>
    Email 3: <%= @company.companies_report_email3 %>
  </p>
  <p><strong>Address:</strong><br>
  	<%= @company.companies_street_address %><br>
  	<%= @company.companies_city %>, <%= @company.companies_state %> <%= @company.companies_zip %>
  </p>
  <p><strong>Billing Details:</strong><br>
  	Taxable: <%= @company.companies_taxable %><br>
  	Billing Rate: <%= @company.companies_billing_rate %><br>
    Purchase Order: <%= @company.companies_purchase_order %><br>
  	Terms: <%= @company.companies_terms %>
  </p>
 </div>

<%= link_to "Edit Company", edit_company_path(@company) %>

<%= link_to "Delete Company", company_path(@company), method: :Delete, data: { confirm: "Are you sure?"} %>